    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            // "dc/numeric.c",
            // "dc/stack.c",
            // "dc/misc.c",
            // "dc/array.c",
            // "dc/eval.c",
            // "dc/dc.c",
            // "dc/string.c",
            "lib/number.c",
            // "lib/testmul.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ]
    }
