[
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/array.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "array",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/arrayp.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "arrayp",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/aryprm.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "aryprm",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/atan.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "atan",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/checklib.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "checklib",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/div.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "div",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/exp.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "exp",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/fact.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "fact",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/jn.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "jn",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/ln.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "ln",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/mul.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "mul",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/raise.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "raise",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/sine.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "sine",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/sqrt1.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "sqrt1",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/sqrt2.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "sqrt2",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/sqrt.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "sqrt",
        "no-results": true
    },
    {
        "compilation_cmd": "cc -c -Os -std=c99 -Wall -Wextra -Idc -Ibc -I. -Ih",
        "files": [
            "bc/global.c",
            "bc/util.c",
            "bc/execute.c",
            "bc/bc.c",
            "bc/scan.c",
            "bc/load.c",
            "bc/warranty.c",
            "bc/main.c",
            "bc/storage.c",
            "lib/number.c",
            "lib/vfprintf.c",
            "lib/getopt.c",
            "lib/getopt1.c",
            "tis-mock.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "Test/testfn.b",
                    "name": "tis-mkfs-stdin"
                }
            ]
        },
        "name": "testfn",
        "no-results": true
    }
]
